<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex align-items-center justify-content-center">
    <a href="https://github.com/joshrflynn/YelpCamp" target="_blank"
      ><span class="text-muted">&copy; joshrflynn 2022</span></a
    >
  </div>
</footer>
