<form action="../campgrounds/<%= cg._id %>/reviews" method="POST" novalidate class="validated-form">
  <div class="mb-3">
    <fieldset class="starability-basic">
      <input
        type="radio"
        id="no-rate"
        class="input-no-rate"
        name="reviews[rating]"
        value="0"
        checked
        aria-label="No rating."
      />
      <input type="radio" id="second-rate1" name="reviews[rating]" value="1" />
      <label for="second-rate1" title="Terrible">1 star</label>
      <input type="radio" id="second-rate2" name="reviews[rating]" value="2" />
      <label for="second-rate2" title="Not good">2 stars</label>
      <input type="radio" id="second-rate3" name="reviews[rating]" value="3" checked="true" />
      <label for="second-rate3" title="Average">3 stars</label>
      <input type="radio" id="second-rate4" name="reviews[rating]" value="4" />
      <label for="second-rate4" title="Very good">4 stars</label>
      <input type="radio" id="second-rate5" name="reviews[rating]" value="5" />
      <label for="second-rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
  <div class="mb-3">
    <label class="form-label" for="body">Review text:</label>
    <textarea class="form-control" name="reviews[body]" id="body" cols="30" rows="3" required></textarea>
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
